<div *ngIf="invader">
  <h2>{{ invader.id | uppercase }} details</h2>
  <div>
    <div>ID: 
      <span>{{ invader.id }}</span>
    </div>
    <div>City: 
      <span>{{ invader.city }}</span>
    </div>
    <div>Points: 
      <span>{{ invader.points }}</span>
    </div>
    <div>Status: 
      <span>{{ invader.status || "??" }}</span>
    </div>
    <div> Coordinates:
      <span>{{ invader.latitude  || "??" }},{{ invader.longitude  || "??" }}</span>
    </div>
    <div>
      Google Maps:
      <a *ngIf="invader.gMapsUrl" href="{{ invader.gMapsUrl }}" target="_blank">
        {{ invader.location || "??" }}</a>
    </div>
  </div>
  <div class="card-action">
    <a (click)="goBack()">Go back</a>
    <a (click)="goEdit()">Edit</a>
    <a (click)="deleteInvader()">Delete</a>
  </div>
</div>
