<div class='row'>
    <div class="col s12 m4 offset-m4">
        <div class="card hoverable">
            <div class="card-content center">
                <span class="card-title">Login</span>
                <p><em>{{message}}</em></p>
            </div>
            <form #loginForm="ngForm">
                <mat-form-field appearance="fill">
                    <mat-label>User</mat-label>
                    <input mat-input type="text" id="user" [(ngModel)]="user" required>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>User</mat-label>
                    <input mat-input type="password" id="password" [(ngModel)]="password" name="password" required>
                </mat-form-field>
            </form>
            <div class="card-action center">
                <a (click)="login()" class="waves-effect waves-light btn" *ngIf="!isLoggedIn()">Se
                    connecter</a>
                <a (click)="logout()" *ngIf="isLoggedIn()">Se déconnecter</a>
            </div>
        </div>
    </div>
</div>